// colours styles

%colour-item {
  border-bottom: 12px solid rgba(0, 0, 0, 0.1);
  height: 90px;
}

.colours-brand {
  @include susy-clearfix;
  .var {
    display: block;
    text-align: center;
    @include mq($from: desktop) {
      margin: 0.5em;
    }
  }
  .colour-type {
    @include gallery(4 of 8);
    margin-bottom: 1em;
    position: relative;
    @include mq($from: desktop) {
      @include gallery(3 of 12);
    }
    &:after {
      position: absolute;
      bottom: 0%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgba(0, 0, 0, 0.5);
    }

    &--primary {
      background-color: $color-primary;
      @extend %colour-item;
      @extend .colour-type;
      &:after {
        content:  "#{$color-primary}";
      }
    }

    &--accent {
      background-color: $color-accent;
      @extend %colour-item;
      @extend .colour-type;
      &:after {
        content:  "#{$color-accent}";
      }
    }

    &--body {
      background-color: $color-text;
      color: $white;
      @extend %colour-item;
      @extend .colour-type;
      &:after {
        content:  "#{$color-text}";
        color: $white;
      }
    }

    &--background {
      background-color: $color-background;
      @extend %colour-item;
      @extend .colour-type;
      &:after {
        content:  "#{$color-background}";
      }
    }
  }
}

.colours-standard {
  @include susy-clearfix;
  .var {
    display: block;
    text-align: center;
    @include mq($from: desktop) {
      margin: 0.5em;
    }
  }
  .colour-type {
    @include gallery(4 of 8);
    margin-bottom: 1em;
    position: relative;
    @include mq($from: desktop) {
      @include gallery(4 of 12);
    }
    &:after {
      position: absolute;
      bottom: 0%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgba(0, 0, 0, 0.5);
    }

    &--white {
      background-color: $white;
      @extend %colour-item;
      @extend .colour-type;
      &:after {
        content:  "#{$white}";
      }
    }

    &--black {
      background-color: $black;
      @extend %colour-item;
      @extend .colour-type;
      color: $white;
      &:after {
        content:  "#{$black}";
        color: $white;
      }
    }

    &--grey {
      background-color: $grey;
      @extend %colour-item;
      @extend .colour-type;
      &:after {
        content:  "#{$grey}";
      }
    }

    &--red {
      background-color: $red;
      @extend %colour-item;
      @extend .colour-type;
      &:after {
        content:  "#{$red}";
      }
    }

    &--green {
      background-color: $green;
      @extend %colour-item;
      @extend .colour-type;
      &:after {
        content:  "#{$green}";
      }
    }
    &--blue {
      background-color: $blue;
      @extend %colour-item;
      @extend .colour-type;
      &:after {
        content:  "#{$blue}";
      }
    }
  }
}
