// init
$black: #333333;
$white: #ffffff;
$red: #ff5252;
$green: #b3de62;
$blue: #3b9bfb;
$grey: #f3f3f3;

$color-primary: #40c9cc;
$color-text: lighten($black, 3%);
$color-background: darken($white, 0.5%);
$color-accent: saturate($color-primary, 20%);

$font-family-serif: 'Vollkorn', serif;
$font-family-sans-serif: 'Open Sans', sans-serif;
$line-height-base: 1.5em;
$font-size-base: 1em;


// import Google fonts
@import url('http://fonts.googleapis.com/css?family=Vollkorn|Open+Sans:400italic,700italic,400,700');

// Normalize Styles
@import "bower_components/normalize-scss/_normalize.scss";

$map: layout(auto 12 .25 inside fluid isolate);
@import 'bower_components/susy/sass/susy';

$mq-responsive: true;
$mq-breakpoints: (
    mobile:  24em,
    tablet:  45em,
    desktop: 60em,
    wide:    67em
);
$mq-static-breakpoint: desktop;
$mq-show-breakpoints: (mobile, tablet, desktop, wide);

@import 'bower_components/sass-mq/mq';

// Import Modules
@import '../_modules/link/link';
@import '../_modules/colours/colours';
@import '../_modules/typography/typography';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color: $color-text;
  font-size: $font-size-base;
  font-family: $font-family-sans-serif;
  line-height: $line-height-base;
}
code {
  background-color: $grey;
  padding: 2px;
  color: $color-text;
}

.container {
  @include container(90%);
}

.example {
  border-left: 5px solid darken($grey, 5%);
  background-color: $grey;
  margin: 0;
  padding: 0.005em 0.5em;
  border-radius: 2px;
}

.version {
  font-size: 1em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

header {
  padding: 1em 0;

  h1 {
    margin: 0;
  }

  .logo {
      font-size: 1em;

    a {
      text-decoration: none;
      color: lighten($color-text, 25%);

      &:hover {
        color: $color-primary;
      }
    }
  }
}

footer,
header {
  padding: 1em 0;
  background-color: $grey;
}
